.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
  .card{
    position: relative;
    left: 23%;
    height: max-content;
    width: 100%;
  }
}